<p>
  <strong><%= model_class.human_attribute_name(:Make) %>:</strong>
  <%= car.Make %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:Model) %>:</strong>
  <%= car.Model %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:Cost) %>:</strong>
  <%= car.Cost %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:Description) %>:</strong>
  <%= car.Description %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:vin) %>:</strong>
  <%= car.vin %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:License_Plate) %>:</strong>
  <%= car.License_Plate %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:year) %>:</strong>
  <%= car.year %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:in_inventory) %>:</strong>
  <%= car.in_inventory %>
</p>
