<%- model_class = Car -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:Make) %></th>
      <th><%= model_class.human_attribute_name(:Model) %></th>
      <th><%= model_class.human_attribute_name(:Cost) %></th>
      <th><%= model_class.human_attribute_name(:Description) %></th>
      <th><%= model_class.human_attribute_name(:vin) %></th>
      <th><%= model_class.human_attribute_name(:License_Plate) %></th>
      <th><%= model_class.human_attribute_name(:year) %></th>
      <th><%= model_class.human_attribute_name(:in_inventory) %></th>
    </tr>
  </thead>
  <tbody>
    <%- car_num = 1 -%>
    <% @cars.each do |car| %>
      <tr>
        <td>
          <%= content_tag :a, "Show", href: "#modal" + car_num.to_s, class: 'btn', data: {toggle: 'modal'} %>
        </td>
        <td><%= car_num %></td>
        <td><%= car.Make %></td>
        <td><%= car.Model %></td>
        <td><%= car.Cost %></td>
        <td><%= car.Description %></td>
        <td><%= car.vin %></td>
        <td><%= car.License_Plate %></td>
        <td><%= car.year %></td>
        <td><%= car.in_inventory %></td>
      </tr>
      <%= modal_dialog id: "modal" + car_num.to_s,
        header: { show_close: true, dismiss: 'modal', title: car.year.to_s + " " + car.Make + " " + car.Model },
        body:   { content: render(:partial => "cars/show", locals: { car: car, model_class: model_class }) },
        footer: { content: render(:partial => "cars/show_footer", locals: { car: car }) } %>
      <%- car_num = car_num + 1 -%>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_car_path,
            :class => 'btn btn-primary' %>
