<!DOCTYPE html>
<html>
<head>
  <title>CarApp</title>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
<div class="user_links">
 <%= current_user.email %>
 <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
 <%= link_to "Edit Account", edit_user_registration_path, :method => :get %>
</div>
<% end %>
<%= yield %>

</body>
</html>
